* {
  /*outline: 1px solid rgba(255, 0, 0, 0.2);*/
  box-sizing:border-box;
}
body{
  background: #f6f9fc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 55px;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition: all 0.3s;

}

header:hover{
  background: rgb(255, 255, 255);
  border-radius: 8px;
}

.navbar{
  display:flex;
  align-items:center;
  justify-content:center;
  
}

.logo h1{
  font-size: 30px;
  font-weight: 600;
  color: #0a2540;
}

.nav {
  display:flex;
  align-items:center;
  justify-content:center;
}

.navbar ul{
  display:flex;
  align-items:center;
  justify-content:center;
}

.navbar li{
  display:flex;
   align-items:center;
   justify-content:center;
   list-style:none;
   padding: 12px 12px 14px;
   font-size: 18px;
   color: #0a2540;
   transition: color  0.3s;
}

 .navbar li:hover{
  color: #51606f;
 
}

.navbar-btn{
  display:flex;
  align-items:center;
  justify-content:center;
  gap: 16px;
}

.navbar-btn{
  color: black;
}

.singIn-btn{
  border: none;
  padding: 3px 0px 5px;
  color: #635bff;
  font-size: 15px;
  background: #f6f9fc;
  border-radius: 10px;
  margin-right: 5px;
}

.singIn-btn:hover{
  color: #425566;
  background:white;
}

.contact-btn{
  border:none;
  padding: 5px 12px 6px 16px;
  font-size: 18px;
  background: #635bff;
  color: white;
  border-radius: 16px;
  font-family: inherit;
  margin-left: 5px;
}

.contact-btn:hover{
  background: #0a2540;;
}

/*========Designing the hero section=========*/

.hero-section{
  display: grid;
  gap: 32px;
  
}
.hero-h1{
  max-width: 600px;
  display:flex;
  flex-direction:column;
  margin-top: 32px;
}
.hero-h1 h1{
  font-size:56px;
  color:#0a2540;
}

.hero-product{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
     gap: 10px;
}

.hero-product-1st-child, .hero-product-2nd-child{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border:none;
  border-radius: 5px;
}

.hero-product-1st-child{
  background:white;
}

.Standard{
  display:flex;
  flex-direction:column;
}
.standard-1st-child{
  display:flex;
  flex-direction: column;
  padding:32px;
  color:  #425466;
  font-size: 16px;
  min-height: 100%;

}
.standard-1st-child h2{
   font-size: 26px;
   color: #0a2540;
}
.text{
  display:flex;
  font-size: 15px;
  color: #425466;
}
.standard-1st-child button{
  padding: 3px 12px 6px 16px;
  background: #635bff;
  font-size: 15px;
  color: white;
  border-radius: 15px;
  border:none;
  display:flex;
  align-items:center;
  justify-content:center;
}

.standard-2nd-child{
  display:flex;
  flex-direction: column;
  background: #f6f9fc;
  font-size: 16px;
  padding: 4px 4px 4px 0px;
  color: #425466;
  min-height: 100%;
  justify-content: center;
  border-radius: 10px;
  margin-top: 18px;
  width:100%;
}

.standard-2nd-child span{
    font-size: 26px;
    color: #0a2540;
    font-weight:bold;
    text-align:center;
}
.standard-2nd-child p{
  text-align: center;
  color: #425466;
  font-size: 16px;
}


.hero-product-2nd-child{
  background: #0c2e4e;
}

.custom{
  display:flex;
  flex-direction: column;
  padding: 32px;
}
.custom h1{
  font-size: 26px;
  color: white;
}
.custom p{
  font-size: 15px;
  color: #adbdcc;
}
.custom-btn button{
  padding: 3px 12px 6px 16px;
  background:#00d4ff;
  font-size: 15px;
  color: white;
  border-radius: 15px;
  border:none;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:inherit;
}

.pricing{
  display:grid;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 90%;
  min-height: auto;
}

.price-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 19px 8px;
    min-height: 50px;
    background: #1f4468;
    color: white;
    font-size: 16px;
    color: white;
    font-weight: bold;
   
}

/*hero section responsve desin*/



@media (max-width: 768px) {
  .hero-product-1st-child, .hero-product-2nd-child{
    display:grid;
    grid-template-columns: 1fr;
    
  }

  .standard-2nd-child{
    width: 100%;
  }

  p{
    font-size: 18px;
  }

  .pricing{
    width: 97%;
    margin-bottom: 6px;
  }
}

/*--------------Designing the features section-------------*/

.features-cards{
    display:grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
}

.features h1{
  color: #0a2540;
  font-size: 24px;
  margin: 20px 0px;
}

.features-card-items{
  display: grid;
  gap: 8px;
}

.features-card-items h1{
  font-size: 15px;
  color: #0a2540;
  margin-bottom: -5px;

}

.features-card-items ul{
  list-style: none;
  padding: 0px 0px 0px 24px;
  display:flex;
  flex-direction:column;
  gap: 7px;
}

.features-card-items li{
  color: #425466;
  font-size: 15px;
  
}

/*---------Designing the pricing section----------*/
:root {
  --bg-light: #f6f9fc;
  --bg-white: #ffffff;
  --bg-dark: #0a2540;
  --bg-blue: #635bff;

  --text-dark: #0a2540;
  --text-muted: #425466;
  --text-light: #adbdcc;

  --radius-sm: 8px;
  --radius-md: 12px;

  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
}

.pricing-section {
  background: var(--bg-light);
  padding: 80px 0;
}

.pricing-container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--space-lg);
  background: var(--bg-white)
}


.feature-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style:none;
}
.pricing-intro{
  display:flex;
  flex-direction:column;
}

.pricing-intro h2,
.pricing-intro span {
  color: var(--bg-blue);
}

.pricing-intro h1{ 
    font-size: 38px;
    color: var(--text-dark);
    
}
.pricing-intro p{
  font-size: 18px;
  color:  var(--text-muted);
  line-height: 28px;
}
.pricing-cta{
  padding: 3px 12px 6px 16px;
  font-size: 15px;
  background: var(--bg-blue);
  color: white;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;

}
.pricing-package{
  display: flex;
  flex-direction:column;
  background: var(--bg-white);
  border-radius: 15px;
  padding: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 
}

.pricing-support ul{
  padding: 0;
  margin: 10 0;
  
}

.pricing-package li{
  font-size: 15px;
  color: var(--text-dark);
  
}
.pricing-products{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0px 0px;
  gap: 10px;
  list-style: none;
  padding: 0;

 
}

.pricing-support{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.pricing-support h3{
  margin-bottom: -3px;
  margin-top: 40px;
  color: var(--text-dark);
  font-size: 15px;
 
}

.pricing-support ul{
  list-style: none;
}

.pricing-support li{
  font-size: 15px;
  color: var(--bg-blue);
  line-height: 28px;
  
}

.pricing-features {
  grid-column: 1 / -1;
}

.feature-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0;
  margin: 0;
  gap: 20px;
}

.feature-list h3{
  font-size: 15px;
  color: var(--text-dark);
  font-family: sans-serif;
}

.feature-list p{
  font-size: 15px;
  color: var(--text-muted);
  line-height: 20px;
}

/*-----designing pricing-extra-cards-----------*/
.pricing-extra-cards-2{
   background: var(--bg-white)
}
.investment-type-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 100px;
  padding: 32px 0px;
}

.report-card{
  display:flex;
  flex-direction:column;
  gap: var(--space-lg);
}
.report-card h1{
  font-size: 26px;
  color: var(--text-dark);
}

.report-card p{
  font-size: 18px;
  color: var(--text-muted);
}

.report-card button{
  padding: 3px 0px 6px;
  font-size: 15px;
  color: var(--bg-blue);
  border:none;
  background: var(--bg-light);
  max-width: 200px;
  display: flex;
  align-items:center;
}

.report-boxes{
  padding: 24px;
  width: 380px;
  height: 384px;
  position: relative;
}

.box-1{
  width: 270px;
  height: 366px;
  background: var(--bg-white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
.box-2{
  width: 270px;
  height: 340px;
  background: var(--bg-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 10px;
}

.report-card-text{
  width: 222px;
  height: 92px;
  color: white;
  
}
.report-card-text h2{
  font-size: 15px;
}

.report-card-text h1{
  font-size: 23px;
  width: 222px;
  height: 56px;
}

/*---------------------Category cards--------------*/
.category-cards{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--space-lg);
}
.header-card{
  grid-column: 1 / -1
}

.main-card img{
  height: auto;
  padding: 24px;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;


}
.main-card{
   max-width: 720px;
   border-radius: 10Px;
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   
}

@media (min-width: 900px) {
  .main-card {
    grid-column: 2 / -1;
  }
}

.header-card h1{
  font-size: 28px;
  color: var(--text-dark);
  max-width: 750px;
}
.sidebar-card ul{
  padding: 0;
  list-style: none;
}


.sidebar-card ul h1{
  font-size: 24px;
  color: var(--text-dark);
}

.sidebar-card ul p{
   font-size: 15px;
   color: var(--text-muted);
}

.footer-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--space-lg);
  margin: 20px 0px 0px;
}